{name, "markdown"}.
{description, "An implementation of markdown written in Erlang"}.
{homepage, "https://github.com/hypernumbers/erlmarkdown"}.
{url, {git, "https://github.com/nox/erlmarkdown.git", {branch, "rebarify"}}}.
{authors, ["Gordon Guthrie <gordon@hypernumbers.com>"]}.
{license, "BSD", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
